.headshot {
  border-radius: 50%;
  position: relative;
  width: 40%;
  height: 40%;
}

.total {
    margin: 20px auto;
    max-width: 1200px;
    overflow: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;

}

.all {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.row {

    grid-area: "left";
}

.photod {
  grid-area: "right";
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
.one-third.column {
    width: 30.6666666667%;
}
.two-thirds.column {
    width: 65.3333333333%;
}
.column, .columns {
    margin-left: 4%;
}

}

.container:after, .row:after, .u-cf {
    content: '';
    display: table;
    clear: both;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.image {
    position: relative;
}


